/* start var */
:root {
    --main-color: #10cab7;
    --secornd-color: #093d44;
    --section-paddding: 60px;
    --section-background: #f6f6f6;
}
/* end var */
/* start global rules */
* {
    -webkit-box-sizing: border-box; /* 1 */
    -moz-box-sizing: border-box; /* 1 */
    box-sizing: border-box;
    margin: 0; padding: 0;
} 
html { 
    scroll-behavior: smooth; 
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px ;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start components  */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin:-30px 0 0;
    color: #797979;
    text-align: center;
    font-size: 20px;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 70px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end components  */

/* start header */ 
.header {
    padding: 20px;
}
.header .container {
     display: flex;
     justify-content: space-between;
     align-self: center;
}
.header .logo {
    width: 60px;
    height: fit-content;
    margin-top: 2px;
}
.header .links {
    position: relative;
}
.header .links:hover .burgericon span:nth-child(2) {
    width: 100%;
} 
.header .links .burgericon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .burgericon span {
    background-color: black;
    margin-bottom: 6px;
    height: 2px;
}
.header .links .burgericon span:first-child {
    width: 100%;
    margin-top: 5px
}

.header .links .burgericon span:nth-child(2) {
    width: 70%;
    transition: 0.3s;
}
.header .links .burgericon span:last-child {
    width: 100%;
}   
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px ;
    top: -20px; 
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
} 
.header .links ul li a:hover {
    padding-left: 25px;
}  
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* end header  */
/* start landing page  */
.landing {
    background-image: url(../resources/Arb-GB_Wallpaper_\(10\).jpg);
    background-size: cover;
    height: calc(100vh - 69px);
    position: relative ;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing page  */

/* start features */
.features {
    padding: 60px 0;
    background-color: var(--section-background);
}
.features .container  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0 ;
}
.features .feat p {
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}
/* end features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 75px;
    transform: translateY(-5px);
}
.services .services-content .srv .text {
        flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;

}
.services .services-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secornd-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* end services  */
/* start portfolio */
.portfolio {
 padding-top: var(--section-paddding);
 padding-bottom: var(--section-paddding);
 background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;

}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
    margin: 0;
    margin-top: 20px;
}
/* end portfolio */

/* start about  */
.about {
    padding: var(--section-paddding) 0;
}
.about .about-content {
 margin-top: 80px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
}
} 
.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) { 
    .about-content .image { 
    margin: 0 auto 60px; 
} 
}
.about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    left: -20px;
    z-index: -1;
}
.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 275px;
    border-left: 80px solid var(--secornd-color);
    border-bottom: 60px solid var(--secornd-color);
    z-index: -1;
    right: -150px;
    top: -40px;
    
}
@media (max-width: 991px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}
.about-content img {
    max-width: 100%;
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2; 
    margin-bottom: 40px;
}
hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about-content .text p:last-of-type {
 line-height: 2;
 color: #777;   
 margin-top: 40px;
}
/* end about  */

/* start contact  */
.contact {
    padding: var(--section-paddding) 0;
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-paddding);
    padding-bottom: var(--section-paddding);
    text-align: center;
}
.label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secornd-color);
    letter-spacing: -2px;
    margin-bottom: 15px;

}
.info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
}
.info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.info .social i {
    margin-left: 10px;
    color: var(--secornd-color);
}
/* end contact  */
/* start footer  */
.footer {
    background-color: var(--secornd-color);
        padding: 20px 0;
}
.footer p  {
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
.footer p span {
    color: var(--main-color);
}
    /* end footer  */